body {
    margin:0;
    display:flex;
    flex-direction:column;
}

/*HEADER*/

.header {
    background-color: #1f2937;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

ul {
    display:flex;
    flex-direction:row;
    justify-content: center;
    
}

li {
    font-size:18px;
    color: #E5E7EB;
    margin:8px;
    list-style-type: none;
}

a {
    color: #E5E7EB;
}

/*FIRST SECTION*/

.first {
    color: #E5E7EB;
    background-color: #1f2937;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center; 
}

.first-text {
   padding-bottom:35px;
}

.first-image {
    background-color: gray;

}


button {
    background-color: #3882f6;
    color:#E5E7EB;
    border-radius: 8%;
    display: block;
    padding:5px 20px;
    font-weight:700;
    border:none;
}
/*FIRST SECTION*/

/*IMAGE SECTION*/
.images {
    display:flex;
    flex-direction:column;
    align-items: center;
}

.img-block {
    display:flex;
}

.info {
    font-size: 36px;
    color: #1F2937;
}
/*IMAGE SECTION*/

/*QUOTE SECTION*/
.quote {
    background-color: #E5E7EB;
}

.quote p {
    font-size: 36px;
    font-style:italic;
}

/*FOOTER*/

.footer {
    display:flex;
    justify-content: center;
    align-items:center;
    background-color: #1f2937;
    color:#E5E7EB;
}